<body>
<div class="container">

    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{title}}</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#" id="link1">Title 1</a>
                    <a href="#" id="link2">Title 2</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>